<div style="margin-top: 50px">
  <form action="<%= change_password_path %>" method="post">
    <div class="form-group">
      <label for="Password">输入旧密码：</label>
      <input type="password" class="form-control" id="Password" name="old_password" placeholder="Password">
    </div>
    <div class="form-group">
      <label for="Password">输入新密码：</label>
      <input type="password" class="form-control" id="Password" name="new_first_password" placeholder="Password">
    </div>
    <div class="form-group">
      <label for="Password">重新输入一次新密码：</label>
      <input type="password" class="form-control" id="Password" name="new_second_password" placeholder="Password">
    </div>
    <button type="submit" class="btn btn-primary">修改</button>
  </form>  
</div>
