<!DOCTYPE html>
<html>
<head>
  <style >
  .home_section {
    width: 100%;
    overflow: hidden;
     }
  .home_section .center .list img {
    width: 130px;
    display: block;
    margin: 0 auto;
     }
  img, input {
      border: none;
      vertical-align: middle;
  }
  .home_section .center .list {
    margin: 0 60px;
    width: 150px;
    float: left;
    }
  .wrapper .top-box-bg {
      background: url(../images/bodyBg1.png) center no-repeat;
      background-size: cover;
      height: 610px;
      overflow: hidden;
  }
  .home_section .center .list .title {
    line-height: 50px;
    font-size: 18px;
    /* text-align: center; */
    font-weight: bold;
    /* font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif; */
    font-family: "Microsoft Yahei", Arial, Helvetica, "宋体";
    }
  div, dl, dt, dd, form, h1, h2, h3, h4, h5, h6, img, ol, ul, li, table, th, td, p, span, a {
      border: 0;
  }
  * {
      font-family: Arial, Helvetica, "宋体"!important;
      padding: 0;
      margin: 0;
  }
  
  div {
    display: block;
     }
     p{
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
     }
     body
     {
    /* font-family: Tahoma, Arial, Helvetica, "宋体"; */
    font-family: "Microsoft Yahei", Arial, Helvetica, "宋体";
    font-size: 12px;
    text-align: center;
    
    color: #000;
     }
     #mydiv
     {
       margin-left:250px;
       margin-top: 80px;
       color: white;

     }
     h5
     {
      font-family:"Times New Roman";
     }
     .home_section .center a
     {
      text-decoration: none;
     }
    </style>
</head>
<body>
    <div class="wrapper l-wrapper">
        <!--顶部-->
       <br><br><br><br><br>
       <div >
        <div class="home_section" id="mydiv">
            <div class="center">
                  <div class="list">  <a href="#" > 
                    <img src="/assets/section-l14" alt="">
                    <p class="title">互帮互助</p>
                    <p class="text"><h5>相互帮忙解决一下问题吧</h5></a>
                    </p>
                </div>
              
              <div class="list">
                  <a href="#" ><img src="/assets/section-list14.png" alt=""> 
                    <p class="title">失物招领</p>
                    <p class="text"><h5>来这找找丢失的东西吧</h5></p></a>
              </div>               
              <div class="list">
                 <a href="#" ><img src="/assets/section-list13" alt="">
                    <p class="title">校园链接</p>
                    <p class="text"><h5>所有你想找的校园链接点这里</h5></a>
                    </p>
                </div>
               
              <div class="list">
                <a href="#"><img src="/assets/section-list20" alt="">
                    <p class="title">快递戴拿</p>
                    <p class="text" id="ziti"><h5>找人帮忙拿一下自己的包裹吧</h5></a> 
                    </p>
                </div>
              
            </div>
     </div>
   </div>
</body>
</html>


