<div class="panel panel-default">
  <div class="panel-heading"><span style="font-weight: bolder;">功能索引</span></div>
  <div class="panel-body">
    <p>学生服务：</p>
  </div>
    <ul class="list-group">
      <li class="list-group-item"><a href="#">快递服务</a></li>
      <li class="list-group-item"><a href="#">失物招领</a></li>
      <li class="list-group-item"><a href="#">湘大信息平台</a></li>
      <!-- <li class="list-group-item"><a href=""></a></li>
      <li class="list-group-item"><a href=""></a></li>
      <li class="list-group-item"><a href=""></a></li>
      <li class="list-group-item"><a href=""></a></li> -->
    </ul>
</div>