<form action="<%= new_post_path %>" method="post">
  <div class="form-group">
    <label for="Title">标题</label>
    <input type="text" class="form-control" id="Title" name="title" placeholder="Title">
  </div>
  <div class="form-group">
    <label for="Content">内容</label>
    <input type="text" class="form-control" id="Content" name="content" placeholder="Content">
  </div>

<button type="submit" class="btn btn-primary">发帖</button>
</form>