/*
Template: InTime
Author: Just Good Themes, http://justgoodthemes.com/
Version: 1.0
*/

/*
Colors:
#ffffff, rgb(255,255,255)
#f7f7f7, rgb(247,247,247)
#dadada, rgb(218,218,218)
#a9a9a9, rgb(169,169,169)
#6e6e6e, rgb(110,110,110)
#474747, rgb(71,71,71)
#1f1f1f, rgb(31,31,31)
#73ba37, rgb(115,186,55) - green
*/

/* Icon font
-------------------------------------------------*/
/* Entypo, http://www.entypo.com/
   Created by Daniel Bruce, http://danielbruce.se/
   CC BY-SA 3.0 License: http://creativecommons.org/licenses/by-sa/3.0/us/
*/
@font-face {
	font-family: 'entypo';
	src:url('fonts/entypo.eot');
	src:url('fonts/entypo.eot?#iefix') format('embedded-opentype'),
		url('fonts/entypo.woff') format('woff'),
		url('fonts/entypo.ttf') format('truetype'),
		url('fonts/entypo.svg#entypo') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'entypo';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-phone:before {
	content: "\e600";
}
.icon-mobile:before {
	content: "\e602";
}
.icon-mail:before {
	content: "\e603";
}
.icon-location:before {
	content: "\e604";
}
.icon-address:before {
	content: "\e605";
}
.icon-cross:before {
	content: "\e601";
}
.icon-plus:before {
	content: "\e60b";
}
.icon-github:before {
	content: "\e606";
}
.icon-flickr:before {
	content: "\e60c";
}
.icon-vimeo:before {
	content: "\e60d";
}
.icon-twitter:before {
	content: "\e607";
}
.icon-facebook:before {
	content: "\e608";
}
.icon-googleplus:before {
	content: "\e609";
}
.icon-pinterest:before {
	content: "\e60e";
}
.icon-tumblr:before {
	content: "\e60f";
}
.icon-linkedin:before {
	content: "\e610";
}
.icon-dribbble:before {
	content: "\e60a";
}
.icon-stumbleupon:before {
	content: "\e611";
}
.icon-lastfm:before {
	content: "\e612";
}
.icon-rdio:before {
	content: "\e613";
}
.icon-spotify:before {
	content: "\e614";
}
.icon-instagram:before {
	content: "\e615";
}
.icon-dropbox:before {
	content: "\e616";
}
.icon-evernote:before {
	content: "\e617";
}
.icon-skype:before {
	content: "\e618";
}
.icon-paypal:before {
	content: "\e619";
}
.icon-picasa:before {
	content: "\e61a";
}
.icon-soundcloud:before {
	content: "\e61b";
}
.icon-behance:before {
	content: "\e61c";
}

/* Reset
-------------------------------------------------*/
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
	display: block;
}

audio,
canvas,
video {
	display: inline-block;
}

audio:not([controls]) {
	display: none;
	height: 0;
}

[hidden] {
	display: none;
}

html {
	font-size: 100%;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
}

html,
body {
	height: 100%;
}

html,
button,
input,
textarea {
	font-family: 'Open Sans', sans-serif;
}

body {
	color: #dadada;
	line-height: 1.75;
	margin: 0;
}

a {
	color: #dadada;
	text-decoration: underline;
}

a:active,
a:focus,
a:hover {
	outline: 0;
}

a:hover {
	text-decoration: none;
}

h1,
h2,
h3,
h4 {
	color: #fff;
	font-family: "Microsoft YaHei",微软雅黑,'Arial','黑体',sans-serif;
	font-weight: 400;
	line-height: 1.16667;
	margin: 0 0 28px;
	text-align: center;
}

h1 {
	font-size: 44px;
}

h2 {
	font-size: 30px;
}

h3 {
	font-size: 24px;
}

h4 {
	font-size: 18px;
}

b,
strong {
	font-weight: 700;
}

i,
em {
	font-style: italic;
}

p {
	margin: 0 0 28px;
}

ul,
ol {
	margin: 0 0 28px;
	padding: 0 0 0 24px;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
	content: none;
}

img {
	border: 0;
	vertical-align: middle;
	-ms-interpolation-mode: bicubic;
}

form {
	margin: 0;
}

button,
input,
textarea {
	border-radius: 0;
	font-size: 14px;
	margin: 0;
	max-width: 100%;
	vertical-align: baseline;
	-webkit-box-sizing:	border-box;
	-moz-box-sizing:	border-box;
	box-sizing:			border-box;
}

button,
input {
	line-height: normal;
}

button,
input[type="submit"] {
	-webkit-appearance: button;
	cursor: pointer;
}

textarea {
	overflow: auto;
	vertical-align: top;
}

/* General styles (grid, forms, common classes, etc)
-------------------------------------------------*/
/* Clearing floats */
.row:after { 
	clear: both; 
}

.row:before,.row:after { 
	content: ""; 
	display: table; 
}

/* Assistive text */
.screen-reader-text {
	border: 0 none;
	clip: rect(1px, 1px, 1px, 1px);
	height: 1px;
	overflow: hidden;
	padding: 0;
	position: absolute !important;
	width: 1px;
}

/* Grid */
.row {
	margin-left: -48px;
}

.one-half {
	-webkit-box-sizing:	border-box;
	-moz-box-sizing:	border-box;
	box-sizing:			border-box;
	float: left;
	padding-left: 48px;
}

.one-half {
	width: 50%;
}

/* Forms */
input,
textarea {
	background: #6e6e6e;
	background: rgba(169,169,169,0.3);
	border: 1px solid #6e6e6e;
	color: #fff;
	font-weight: 700;
	letter-spacing: 1px;
	padding: 12px;
	/*text-transform: uppercase;*/
}

input:focus,
textarea:focus {
	outline: 0;
}

button,
input[type="submit"] {
	background: #73ba37;
	background: rgba(115,186,55,0.8);
	-webkit-transition:	all 0.3s;
	-moz-transition:	all 0.3s;
	transition:			all 0.3s;
}

button:hover,
button:focus,
input[type="submit"]:focus,
input[type="submit"]:hover {
	background: #73ba37;
	color: #dadada;
	outline: 0;
}

.form-field {
	position: relative;
}

.form-field label {
	font-size: 14px;
}

.form-field span.error {
	background: #73ba37;
	background: rgba(115,186,55,0.8);
	border: 1px solid #73ba37;
	color: #f7f7f7;
	font-size: 10px;
	letter-spacing: 1px;
	padding: 6px;
	position: absolute;
	right: 6px;
	/*text-transform: uppercase;*/
	top: -14px;
}

.form-wrap .loading {
	height: 42px;
	margin: 0 auto 28px;
	text-align: center;
}

.form-wrap .success {
	color: #dadada;
	font-family: 'Roboto Slab', serif;
	min-height: 42px;
	text-align: center;
}

/* Placeholder text color */
::-webkit-input-placeholder {
	color: #a9a9a9;
}

::-moz-placeholder {
	color: #a9a9a9;
	opacity: 1;
}

.placeholder {
	color: #a9a9a9;
}

/* Responsive images */
.content img {
	height: auto;
	max-width: 100%;
}

/* Custom text styles */
.subtitle {
	font-size: 14px;
	letter-spacing: 1px;
	margin: 28px 0;
	text-align: center;
	/*text-transform: uppercase;*/
}

.row h2 {
	font-size: 24px;
	margin-bottom: 14px;
	text-align: left;
}

#modal .section-title {
	margin-bottom: 42px;
}

/* Icons */
.social .icon,
.modal-toggle .icon {
	color: #f7f7f7;
	display: inline-block;
	font-size: 18px;
	height: 36px;
	line-height: 36px;
	text-align: center;
	text-decoration: none;
	width: 36px;
	-webkit-transition:	all 0.3s ease;
	-moz-transition:	all 0.3s ease;
	transition:			all 0.3s ease;
}

.social .icon:hover,
.modal-toggle .icon:hover {
	color: #73ba37;
}

.row h2 .icon {
	font-size: 18px;
	line-height: 1.55556;
	margin-right: 10px;
}

/* Preload */
#preload {
	background: #1f1f1f url(images/overlay.png) repeat;
	height: 100%;
	left: 0;
	position: fixed;
	top: 0;	
	width: 100%;
	z-index: 998;
}

#preload-content {
	height: 100px;
	left: 50%;
	margin-left: -50px;
	margin-top: -50px;
	position: absolute;
	top: 50%;
	width: 100px;
	z-index: 999;
}

.preload-text {
	color: #73ba37;
	font-family: 'Roboto Slab', serif;
	font-size: 14px;
	text-align: center;
}

.preload-spinner {
	margin: 0 auto 14px;
	text-align: center;
}

.bounce1,
.bounce2,
.bounce3 {
	-webkit-animation-name: bounce;
	-webkit-animation-duration: 1.4s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: ease-in-out;
	-webkit-animation-fill-mode: both;
	-moz-animation-name: bounce;
	-moz-animation-duration: 1.4s;
	-moz-animation-iteration-count: infinite;
	-moz-animation-timing-function: ease-in-out;
	-moz-animation-fill-mode: both;
	animation-name: bounce;
	animation-duration: 1.4s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
	animation-fill-mode: both;
	background: #474747;
	display: inline-block;
	height: 14px;
	margin: 0 3px;
	opacity: 0.6;
	width: 14px;
}

.bounce1 {
	-webkit-animation-delay: -0.32s;
	-moz-animation-delay: -0.32s;
	animation-delay: -0.32s;
}

.bounce2 {
	-webkit-animation-delay: -0.16s;
	-moz-animation-delay: -0.16s;
	animation-delay: -0.16s;
}

@-webkit-keyframes bounce {
	0%, 80%, 100% { -webkit-transform: scale(0.0) }
	40% { -webkit-transform: scale(1.0) }
}
@-moz-keyframes bounce {
	0%, 80%, 100% { -moz-transform: scale(0.0) }
	40% { -moz-transform: scale(1.0) }
}
@keyframes bounce {
	0%, 80%, 100% { transform: scale(0.0) }
	40% { transform: scale(1.0) }
}

/* Basic Structure
-------------------------------------------------*/
.wrap {
	min-height: 100%;
	position: relative;
}

.inner {
	margin: 0 auto;
	padding: 42px 24px;
}

#main {
	position: relative;
}

#main .inner {
	max-width: 816px;
	padding-bottom: 126px;
	padding-top: 84px;
}

#modal {
	background: #1f1f1f;
	background: rgba(31,31,31,0.8);
	display: none;
	left: 0;
	min-height: 100%;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 997;
}

#modal .inner {
	max-width: 612px;
}

/* Background Overlay */
.body-bg {
	background: rgba(0,0,0,0.5) url(images/overlay.png) repeat;
	height: 100%;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: -1;
}

/* Main
-------------------------------------------------*/
/* Header */
.site-title {
	font-size: 30px;
	margin-bottom: 70px;
}

/* Countdown */
.countdown_row {
	display: block;
}

.countdown_section {
	border-left: 1px dotted #dadada;
	border-color: rgba(218,218,218,0.8);
	color: #dadada;
	display: inline-block;
	font-size: 12px;
	letter-spacing: 1px;
	padding: 42px 12px 28px;
	text-align: center;
	/*text-transform: uppercase;*/
	width: 25%;
	-webkit-box-sizing:	border-box;
	-moz-box-sizing:	border-box;
	box-sizing:			border-box;
}

.countdown_section:first-child {	
	border-left: 0;
}

.countdown_amount {
	color: #fff;
	display: block;
	font-family: 'Roboto Slab', serif;
	font-size: 60px;
	font-weight: 700;
	letter-spacing: normal;
	line-height: 1;
}

/* Newsletter */
#newsletter {
	margin: 0 auto;
	max-width: 588px;	
}

#newsletter-form {
	position: relative;
}

#newsletter-form .form-field {
	margin-right: 180px;
}

#newsletter-form .form-submit {
	height: 42px;
	position: absolute;
	right: 0;
	top: 0;
	width: 180px;
}

#newsletter_email,
#newsletter_submit {
	display: block;
	height: 42px;
	width: 100%;
}

#newsletter_email {
	border-right: 0;
}

/* Social */
.social {
	margin: 28px 0;
}

.social ul {
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: center;
}

.social li {
	display: inline-block;
	margin: 4px;
}

/* Modal toggle */
#main .modal-toggle {
	bottom: 42px;
	height: 42px;
	left: 0;
	position: absolute;
	text-align: center;
	width: 100%;
}

.modal-note {
	color: #dadada;
	display: block;
	font-size: 12px;
	letter-spacing: 1px;
	text-align: center;
	/*text-transform: uppercase;*/
}

/* Modal page: About Us
-------------------------------------------------*/
/* Modal toggle */
#modal .modal-toggle {
	margin-bottom: 42px;
	text-align: center;
}

/* No JS
-------------------------------------------------*/
.no-js #timer,
.no-js .modal-toggle,
.no-js #preload {
	display: none;
}

/* Media Queries
-------------------------------------------------*/
@media only screen and (max-width: 680px) {
	h1 {
		font-size: 36px;
	}
	.countdown_amount {
		font-size: 48px;
	}
}

@media only screen and (max-width: 540px) {
	.one-half {
		width: 100%;
	}	
}

@media only screen and (max-width: 480px) {
	h1 {
		font-size: 30px;
	}
	.countdown_section {
		padding: 28px 6px 28px;
	}
	.countdown_amount {
		font-size: 42px;
		padding-bottom: 7px;
	}
	#newsletter-form .form-field {
		margin: 0 0 14px;
	}
	#newsletter-form .form-submit {
		margin: 0 auto;
		position: static;
		right: auto;
		top: auto;
	}
}

@media only screen and (max-width: 360px) {
	.countdown_section {
		font-size: 10px;
		padding: 21px 6px;
	}
	.countdown_amount {
		font-size: 36px;
	}
}

form {
    position: relative;
    width: 305px;
    margin: 15px auto 0 auto;
    text-align: center;
}

input {
    width: 300px;
    height: 42px;
    margin-top: 25px;
    padding: 0 15px;
    background: #2d2d2d; /* browsers that don't support rgba */
    background: rgba(45,45,45,.15);
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    border: 1px solid #3d3d3d; /* browsers that don't support rgba */
    border: 1px solid rgba(255,255,255,.15);
    -moz-box-shadow: 0 2px 3px 0 rgba(0,0,0,.1) inset;
    -webkit-box-shadow: 0 2px 3px 0 rgba(0,0,0,.1) inset;
    box-shadow: 0 2px 3px 0 rgba(0,0,0,.1) inset;
    font-family: 'PT Sans', Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #fff;
    text-shadow: 0 1px 2px rgba(0,0,0,.1);
    -o-transition: all .2s;
    -moz-transition: all .2s;
    -webkit-transition: all .2s;
    -ms-transition: all .2s;
}

input:-moz-placeholder { color: #fff; }
input:-ms-input-placeholder { color: #fff; }
input::-webkit-input-placeholder { color: #fff; }

input:focus {
    outline: none;
    -moz-box-shadow:
        0 2px 3px 0 rgba(0,0,0,.1) inset,
        0 2px 7px 0 rgba(0,0,0,.2);
    -webkit-box-shadow:
        0 2px 3px 0 rgba(0,0,0,.1) inset,
        0 2px 7px 0 rgba(0,0,0,.2);
    box-shadow:
        0 2px 3px 0 rgba(0,0,0,.1) inset,
        0 2px 7px 0 rgba(0,0,0,.2);
}

button {
    cursor: pointer;
    width: 300px;
    height: 44px;
    margin-top: 25px;
    padding: 0;
    background: #ef4300;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    border: 1px solid #ff730e;
    -moz-box-shadow:
        0 15px 30px 0 rgba(255,255,255,.25) inset,
        0 2px 7px 0 rgba(0,0,0,.2);
    -webkit-box-shadow:
        0 15px 30px 0 rgba(255,255,255,.25) inset,
        0 2px 7px 0 rgba(0,0,0,.2);
    box-shadow:
        0 15px 30px 0 rgba(255,255,255,.25) inset,
        0 2px 7px 0 rgba(0,0,0,.2);
    font-family: 'PT Sans', Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    text-shadow: 0 1px 2px rgba(0,0,0,.1);
    -o-transition: all .2s;
    -moz-transition: all .2s;
    -webkit-transition: all .2s;
    -ms-transition: all .2s;
}

button:hover {
    -moz-box-shadow:
        0 15px 30px 0 rgba(255,255,255,.15) inset,
        0 2px 7px 0 rgba(0,0,0,.2);
    -webkit-box-shadow:
        0 15px 30px 0 rgba(255,255,255,.15) inset,
        0 2px 7px 0 rgba(0,0,0,.2);
    box-shadow:
        0 15px 30px 0 rgba(255,255,255,.15) inset,
        0 2px 7px 0 rgba(0,0,0,.2);
}

button:active {
    -moz-box-shadow:
        0 15px 30px 0 rgba(255,255,255,.15) inset,
        0 2px 7px 0 rgba(0,0,0,.2);
    -webkit-box-shadow:
        0 15px 30px 0 rgba(255,255,255,.15) inset,
        0 2px 7px 0 rgba(0,0,0,.2);
    box-shadow:        
        0 5px 8px 0 rgba(0,0,0,.1) inset,
        0 1px 4px 0 rgba(0,0,0,.1);

    border: 0px solid #ef4300;
}
